* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

h1 {
    line-height: 64px;
    margin:0 0 40px;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

/*header*/
.header .container {
    padding: 23px 0 0;
}

.header .border-shadow {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #828282;
    box-shadow: 0 3px 10px;
}

.nav-list {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
}

.nav-link {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    text-shadow: 0 3px 2px rgba(150, 150, 150, 0.32);
}

.nav-link.active {
    color: #070707;
}

/*hero*/
.hero-section {
    padding: 34px 0 100px ;
}

.hero-title {
    font-size: 48px;
}

.hero-section .image-holder img {
    width: 100%;
}

/*about*/
.about-me-section {
    background-color: #F6F6F6;
    padding: 100px 0;
    text-align: center;
}

.about-me-section h1 {
    font-size: 34px;
    line-height: 46px;
}

p {
    padding-bottom: 30px;
    font-size: 18px;
}

.text-holder-about {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
}

/*skills*/
.text-holder {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    padding-bottom: 25px;
}

.skills-section {
    padding: 100px 0;
    text-align: center;
}

.skills-section h1 {
    font-size: 34px;
    line-height: 46px;
}

.image-program {
    display: block;
}

.image-container {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.image-program img {
    display: inline-block;
}

.icon-description {
    padding-top: 20px;
    padding-bottom: 60px;
    color: #828282;
    font-size: 14px;
}

/*portfolio*/
.portfolio-section {
    background-color: #F6F6F6;
}
.portfolio-section h1 {
    text-align: center;
    font-size: 34px;
    padding-top: 120px;
}

.portfolio-description {
    font-size: 18px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 50px;
    text-decoration: underline;
}

/*footer*/
.footer {
    padding-top: 100px;
    text-align: center;
}
.contact-description {
    padding-top: 10px;
}

